@media print, (max-width: 1187px) {

    header .menu .item a {
        margin-right: 11px;
    }
    .header_right {
        margin-left: auto;
    }
    header .btn {
        width: 170px;
    }




}
