@media (max-width: 479px) {

    .steps_item-icon {
        margin: 0 auto -8px;
    }
    .footer_top .cont {
        flex-direction: column;
    }
    .footer_logo {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .footer_left {
        width: 100%;
        justify-content: center;
    }
    .footer_top {
        padding-top: 30px;
        padding-bottom: 32px;
    }
    form button {
        max-width: 100%;
    }
    .steps_item-title {
        text-align: center;
    }
    .about_img {
        width: 300px;
        height: 295px;
    }
    .callback_img {
        width: 300px;
        height: 285px;
    }
    .repair {
        margin-top: 40px;
        padding-top: 40px;
        margin-bottom: 10px;
    }
    .about {
        margin-bottom: 40px;
        padding-top: 40px;
    }
    .project {
        padding: 40px 0 40px;
    }
    .steps {
        padding: 40px 0 40px;
    }
    .faq {
        padding: 40px 0 40px;
    }
    .project_item-link,
    .repair_item-link {
        max-width: 100%;
    }
    .first_section .link {
        margin-left: 0;
    }
    .modal_slider-info {
        margin-top: 20px;
    }
    .modal_slider-text {
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .modal_slider-btn {
        font-size: 14px;
        width: 100%;
    }
    .modal_slider ul li {
        font-size: 14px;
    }


}
