/* For old browsers */
@supports (not(--css: variables))
{
    .supports_error
    {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none)
{
    .supports_error
    {
        display: flex !important;
    }
}



/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* scroll-margin-top: 100px; */
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}





/*-------------------
    Global styles
-------------------*/
:root {
    --bg: #fff;
    --scroll_width: 17px;
    --text_color: #242424;
    --font_size: 18px;
    --font_size_title: 28px;
    --font_family: 'Inter';
}


::selection {
    color: #fff;

    background: #18A0FB;
}

::-moz-selection {
    color: #fff;

    background: #18A0FB;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}

/*
html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: #ccc;
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #de041d;
}

html.custom_scroll
{
    scrollbar-color: #de041d #ccc;
    scrollbar-width: thin;
}

*/
body {
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;

    background: var(--bg);
}


.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}


.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay {
    position: fixed;
    z-index: 102;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .65;
    background: #000;
}



.supports_error {
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show {
    display: flex;
}





/*------------
    Header
------------*/

header .mob_menu_btn {
    display: none;
    margin-right: 0px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 8;
}
header .close_btn { 
    display: none;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 103;
}
header .close_btn img {
    display: block;
    width: 30px;
    height: 30px;
}
header {
    padding: 10px 0 15px;
}
header .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 447px);
}
header .menu .item a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    transition: all .4s;
    white-space: nowrap;
    margin-right: 42px;
}
header .menu .item a:hover {
    color: #BE8D55;
}
header .menu .item a:hover {
    color: var(--text_color);
}
.header .menu .item a:active {
    color: #FF5757;
}

.header_left {
    display: flex;
    align-items: center;
}
.header_logo {
    width: 124px;
    height: 76px;
    margin-right: 25px;
}
.header_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.header_soc {
    display: flex;
    align-items: center;
    margin-top: 6px;
}
.header_soc a {
    display: block;
    text-decoration: none;
    margin-right: 10px;
}
.header_contact {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}
.header_contact-phone {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 4px;
    text-decoration: none;
    white-space: nowrap;
}
.header_contact-email {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-decoration: none;
    white-space: nowrap;
}
header .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #024873;
    width: 203px;
    height: 45px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
header .btn span {
    display: block;
    margin-left: 13px;
}
.header_right-mob {
    display: none;
}




.first_section {
    position: relative;
    margin-bottom: 75px;    
}
.first_section:before {
    position: absolute;
    width: 409px;
    height: 113px;
    content: "";
    bottom: -109px;
    right: 0px;
    background: url(../images/first_section_bg.png);
}
.first_section .bg {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}
.first_section-box {
    padding: 139px 50px 35px;
    margin-bottom: 215px;
}
.first_section .info {
    width: 805px;
    max-width: 100%;
    padding: 67px 41px 37px;
    background: #fff;
    background: rgba(2, 72, 115, 0.6);
    border: 1px solid #FFFBFB;
    position: relative;
    margin: 0 auto;
}
.first_section .info::before {
    position: absolute;
    content: "";
    width: calc(100% + 64px);
    height: calc(100% + 54px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(2, 72, 115, 0.3);
}
.first_section-title {
    z-index: 2;
    position: relative;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 26px;
}
.first_section ul {
    list-style: none;
    margin-left: 93px;
}
.first_section ul li {
    position: relative;
    padding-left: 39px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 10px;    
}
.first_section ul li span {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
}
.first_section ul li:last-child {
    margin-bottom: 0;
}
.first_section ul li:before {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    left: 0;
    top: 0;
    background: url(../images/check.svg);
}
.first_section .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 54px;
    text-align: center;
    text-transform: uppercase;
    color: #024873;
    max-width: 269px;
    width: 100%;
    height: 54px;
    background: #FFFFFF;
    margin: 30px auto 0;
    display: block;    
    text-decoration: none;
    z-index: 2;
    position: relative;
}
.first_section-items {
    display: flex;
    margin-left: -10px;
    margin-bottom: -10px;
    max-width: 1100px;
    z-index: 555;
    position: relative;
    margin-top: -134px;
}
.first_section-items > * {
    width: calc(100%/5 - 10px);
    margin-left: 10px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.7);
    padding: 19px 10px 20px 19px;
    display: flex;
    align-items: center;
}
.first_section-item-icon {
    width: 50px;
    height: 50px;
}
.first_section-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #024873;
    margin-left: 8px;
}
.first_section .swiper-button-next {
    right: 35px;
}
.first_section .swiper-button-prev {
    left: 35px;
}
.swiper-button-next, 
.swiper-button-prev {
    width: 60px;
    height: 60px;
    background: rgba(2, 72, 115, 0.7);
    box-shadow: 0px 10px 20px rgba(23, 39, 57, 0.07);
    border-radius: 50%;
}
.swiper-button-next img {
    position: absolute;
    width: 12px;
    height: 19px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.swiper-button-prev img {
    position: absolute;
    width: 12px;
    height: 19px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.title {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #333333;
    margin-bottom: 34px;
}
.repair {
    margin-top: 150px;
    margin-bottom: 210px;
}
.repair .cont {
    position: relative;
}
.repair .cont::before {
    position: absolute;
    content: "";
    width: 356px;
    height: 98px;
    bottom: -98px;
    left: 0;
    background: url(../images/repair_bg.png);
}
.repair .swiper-slide {
    width: 100%;
    display: inherit;
}
.repair .swiper-button-next, 
.repair .swiper-button-prev {
    width: 30px;
    height: 30px;
    background: rgba(2, 72, 115, 0.7);
    box-shadow: 0px 10px 20px rgba(23, 39, 57, 0.07);
    border-radius: 50%;   
}
.repair .swiper-button-next {
    right: -43px;
}
.repair .swiper-button-prev {
    left: -43px;
}
.repair .swiper-button-next img {
    position: absolute;
    width: 7px;
    height: 13px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.repair .swiper-button-prev img {
    position: absolute;
    width: 7px;
    height: 13px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.repair .swiper-container {
    overflow: visible !important;
}
.repair .swiper-slide.visible {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;    
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}
.repair .swiper-slide {
    position: relative;
    visibility: hidden;
    width: auto;
    transition: opacity .2s linear, visibility .2s linear;
    pointer-events: none;
    opacity: 0;
} 
.repair_item {
    background: #F9F9F9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);   
}
.repair_item-img img {
    display: block;
    width: 100%;
}
.repair_item-info {
    margin: 0 19px 19px;
    border: 1px solid #BE8D55;
    border-top: none;  
    padding: 0 3px 30px;
}
.repair_item-title {
    padding-top: 18px;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 10px;
    text-align: center;
}
.repair_item-link {
    max-width: 242px;
    height: 50px;
    width: 100%;
    background: #BE8D55;
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}
.repair_item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 25px;
}



.about {
    margin-bottom: 128px;
}
.about_wrap {
    display: flex;
    justify-content: space-between;
}
.about_info {
    width: calc(100% - 470px);
}
.about_title {
    text-align: start;
    margin-bottom: 17px;
    text-transform: uppercase;
}
.about_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: rgba(51, 51, 51, 0.75);   
}
.about_text span {
    color: #BE8D55;
}
.about_items {
    display: flex;  
    margin-top: 25px;  
}
.about_item + .about_item {
    margin-left: 33px;
}
.about_item {
    display: flex;
    align-items: center;
}
.about_item-icon {
    width: 96px;
    height: 91px;
    background: #F1F1F1;  
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about_item-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #024873;
    margin-left: 27px;
}
.about_img {
    width: 486px;
    height: 471px;
}
.about_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.callback {
    padding: 61px 0 32px;    
}
.callback_wrap {
    display: flex;
    margin-left: 87px;
}
.callback_info {
    width: calc(100% - 532px);
}
.callback_title {
    text-align: start;
    margin-bottom: 21px;
    margin-right: -7px;
}
.callback_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(51, 51, 51, 0.7);
    margin-bottom: 32px;
}
.callback form {
    max-width: 440px;
}
.callback form .line {
    margin-bottom: 40px;
    width: 100%;
}
.callback form .line .field {
    width: 100%;
}
.callback form .line .field input {
    border: none;
    border-bottom: 1px solid #024873;
    padding-bottom: 7px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    width: 100%;
}
.callback form .line .field textarea {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;   
    width: 100%;
    border: none;
    border-bottom: 1px solid #024873;
    resize: none;
    height: 35px;
}
.callback form button {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;  
    max-width: 242px;
    height: 50px;
    width: 100%;
    background: #BE8D55; 
}
.about_img {
    width: 486px;
    height: 471px;
    margin-top: -19px;
}
.about_img img {
    width: 100%;
    height: 100%;
}



.project {
    padding: 63px 0 85px;
    background: #F1F1F1;
}
.project_item {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.project_item-img img {
    display: block;
}
.project_item-info {
    padding: 21px 24px 39px;
}
.project_item-title {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 12px;
    text-align: center;
}
.project_item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.75);
    margin-bottom: 40px;
}
.project_item-link {
    max-width: 242px;
    height: 50px;
    width: 100%;
    background: #BE8D55;
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}
.project .swiper-container {
    overflow: visible !important;
}
.project .swiper-slide.visible {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;    
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}
.project .swiper-slide {
    position: relative;
    visibility: hidden;
    width: auto;
    transition: opacity .2s linear, visibility .2s linear;
    pointer-events: none;
    opacity: 0;
} 
.project .swiper-slide {
    width: 100%;
    display: inherit;
}
.project .swiper-button-next, 
.project .swiper-button-prev {
    width: 30px;
    height: 30px;
    background: rgba(2, 72, 115, 0.7);
    box-shadow: 0px 10px 20px rgba(23, 39, 57, 0.07);
    border-radius: 50%;   
}
.project .swiper-button-next {
    right: -45px;
}
.project .swiper-button-prev {
    left: -45px;
}
.project .swiper-button-next img {
    position: absolute;
    width: 7px;
    height: 13px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.project .swiper-button-prev img {
    position: absolute;
    width: 7px;
    height: 13px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}



.steps {
    padding: 76px 0 86px;
    background: rgba(190, 141, 85, 0.03);
}
.steps_items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -18px;
    margin-bottom: -20px;
}
.steps_items > * {
    width: calc(100%/4 - 18px);
    margin-left: 18px;
    margin-bottom: 20px;
}
.steps_item-icon {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid rgba(190, 141, 85, 0.3);
    border-radius: 50%;
    margin-left: 59px;
    position: relative;
    margin-bottom: -8px;
}
.steps_item-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    margin-bottom: 22px;
}
.steps_item-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: rgba(51, 51, 51, 0.6);
}
.steps_item:nth-child(1) .steps_item-icon:before {
    position: absolute;
    content: "";
    width: 230px;
    height: 59px;
    right:calc(100% - 330px);
    top: 19px;
    background: url(../images/steps_bg1.png);
}
.steps_item:nth-child(2) .steps_item-icon:before {
    position: absolute;
    content: "";
    width: 189px;
    height: 59px;
    right:calc(100% - 290px);
    top: 19px;
    background: url(../images/steps_bg2.png);
}
.steps_item:nth-child(3) .steps_item-icon:before {
    position: absolute;
    content: "";
    width: 222px;
    height: 58px;
    right:calc(100% - 322px);
    top: 19px;
    background: url(../images/steps_bg3.png);
}






.footer_left {
    width: calc(100% - 405px);
    display: flex;
    justify-content: space-between;
}
.footer_bottom .cont {
    display: flex;
    align-items: center;
}
.footer_copy {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    margin-right: 77px;
}
.footer_politic {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #FFFFFF;
    transition: all .4s;
}
.footer_politic:hover {
    color: #BE8D55;
}
.footer_top {
    background: #232323;
    padding-top: 38px;
    padding-bottom: 37px;
}
.footer_top .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .menu .item a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    transition: all .4s;
    white-space: nowrap;
    margin-right: 40px;
}
footer .menu .item a:hover {
    color: #BE8D55;
}
.footer_bottom {
    background: #333333;
    padding-bottom: 23px;
    padding-top: 22px;
}
.footer_logo {
    width: 145px;
    height: 90px;
    margin-right: 25px;
    margin-left: 25px;
}
.footer_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.footer_soc {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.footer_soc a {
    display: block;
    text-decoration: none;
    margin-right: 10px;
}
.footer_contact {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 15px;
}
.footer_contact-phone {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 3px;
    text-decoration: none;
    white-space: nowrap;
}
.footer_contact-phone:hover {
    color: #BE8D55;
}
.footer_contact-phone span {
    color: #BE8D55;
}
.footer_contact-email {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    transition: all .4s;
}
.footer_contact-email:hover {
    color: #BE8D55;
}


.map_wrap {
    position: relative;
    max-width: 100%;
    transform: translateZ(0);
    width: 100%;
    height: 628px;
}
#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.contacts_items {
    background: url(../images/contact_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 707px;
    height: 581px;
    top: 50%;
    left: 0;
    padding: 177px 124px;
}
.contacts_items a {
    text-decoration: none;
}
.contacts_item {
    display: flex;
    align-items: center;
}
.contacts_item + .contacts_item {
    margin-top: 11px;
}
.contacts_item-icon {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
    flex-shrink: 0;
}
.contacts_item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
}
.contacts_item-text span {
    color: #BE8D55;
}
.contacts_item-text.phone {
    font-size: 20px;
    line-height: 24px;
}




.faq {
    padding: 75px 0 83px;
}
.faq_title {
    margin-bottom: 44px;
}
.accordion_item {
    margin-bottom: 20px; 
    transition: all 0.4s;      
}
.accordion_item:last-child {
    margin-bottom: 0;
}
.accordion_item .head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    background: #BE8D55;
    padding: 21px 20px 17px 21px;
    border: 4px solid transparent;
}
.accordion_item .head span {
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    color: #FFFFFF;
}
.accordion_item .head .title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-right: 20px;
    text-align: start;
}
.accordion_item .data {
    padding-left: 33px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(51, 51, 51, 0.9);
    transition: all .6s;
}
.accordion .accordion_item .data {
    display: none;
}
.accordion .accordion_item.active .data {
    display: block; 
}
.accordion .accordion_item.active .head span {
    color: #BE8D55;
}
.accordion .accordion_item.active .head {
    background: rgba(217, 217, 217, 0.2);
    border: 4px solid #BE8D55;
    margin-bottom: 29px;
}
.accordion .accordion_item.active .head .title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}






.lazyload.loaded {
    opacity: 1;
}
.lazyload {
    transition: opacity .5s linear;
    opacity: 0;
}


.modal_callback {
    display: none;
    background: #FFFFFF;
    padding: 40px;
    max-width: 388px;
    width: 100%;
}
.modal_form .btn {
    width: 100%;
    height: 48px;
}
.modal_callback-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: var(--text_color);
    margin-bottom: 8px;
}
.modal_callback-text {
    font-family: var(--font_family2);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #545454;
    margin-bottom: 41px;
}
.modal_form .line {
    margin-bottom: 28px;
    width: 100%;
}
.modal_form .line .field {
    width: 100%;
}
.form_politic {
    margin-top: 30px;
    font-family: var(--font_family2);
    font-weight: 500;
    font-size: 11.5px;
    line-height: 15px;
    color: #666666;
}
.form_politic a {
    text-decoration: none;
    color: #FF5757;
    transition: all .4s;
}
.form_politic a:hover {
    text-decoration: underline;
}
.modal_form input {
    border: none;
    border-bottom: 1px solid #A6A6A6;
    padding-bottom: 12px;
    font-family: var(--font_family2);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #545454;
    width: 100%;
}
.modal_form textarea {
    border: none;
    border-bottom: 1px solid #A6A6A6;    
    height: 30px;
    font-family: var(--font_family2);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #545454;
    width: 100%;
    resize: none;
}
.fancybox__content>.carousel__button.is-close {
    top: 0;
}
.modal_callback .modal_callback-mob {
    display: none;
}




.modal_slider {
    max-width: 786px;
}
.slider {
    padding: 32px;
    color: #fff;
  }
  .slider .swiper-container {
    width: 100%;
    height: 100%;
  }
  .slider__flex {
    display: flex;
    align-items: flex-start;
  }
  .slider__col {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-right: 32px;
  }
  .slider__prev,
  .slider__next {
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .slider__prev:focus,
  .slider__next:focus {
    outline: none;
  }
  .slider__thumbs {
    height: calc(400px - 96px);
  }
  .slider__thumbs .slider__image {
    transition: 0.25s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
  }
  .slider__thumbs .slider__image:hover {
    opacity: 1;
  }
  .slider__thumbs .swiper-slide-thumb-active .slider__image {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
  }
  .slider__images {
    height: 400px;
  }
  .slider__images .slider__image img {
    transition: 3s;
  }
  .slider__images .slider__image:hover img {
    transform: scale(1.1);
  }
  .slider__image {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
  }
  .slider__image img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .slider .swiper-wrapper {
    display: block;
  }
  @media (max-width: 767.98px) {
    .slider__flex {
      flex-direction: column-reverse;
    }
    .slider__col {
      flex-direction: row;
      align-items: center;
      margin-right: 0;
      margin-top: 24px;
      width: 100%;
    }
    .slider__images {
      width: 100%;
    }
    .slider__thumbs {
      height: 100px;
      width: calc(100% - 96px);
      margin: 0 16px;
    }
    .slider__prev,
    .slider__next {
      height: auto;
      width: 32px;
    }
  }
